*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-header{
    display: flex;
    justify-content: space-around;
    height: 56px;
    width: 100%;
    border: 2px solid black;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 240px;
    background-color: white;
    height: 100%;
    position: fixed;
    overflow: auto;
}
li a{
    display: block;
    color: #000;
    padding: 12px 24px;
    text-decoration: none;
}
li a.active{
    background-color: blanchedalmond;
    color: black;
}
li a:hover:not(.active) {
    background-color: #f1f1f1;
    color: black;
  }
.le_corps{
    background-color: #f1f1f1;
    justify-content: space-around;
}
.sep{
    display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px solid grey;
    margin: 10px 0;
}
.side_nav{
    width: 20%;
}
.le_contenu{
    width: 80%;
    margin: 5px;
   float: right;
}