ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 40%;
    z-index: 4;
}
li{
    float: left;
}
li a{
    display: block;
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 34px 26px;
    text-decoration: none;
}
li a:hover{
    background-color:transparent;
}
.texte{
    position: absolute ;
    font-size: 1.5em;
    line-height: 1.3em;
    color:pink;
    z-index: 6;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 2;
}
video{
    position: absolute;
    height:auto;
    width: 100%;
    z-index: 1;
}
body,*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 100%
}
#firstdiv,h1{
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%,-50%);
    z-index: 4;
}
h1{
    color:pink;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 23px 26px;
}